<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENATI - Inicio</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

<header>
    <div class="logo-container">
        <img src="/static/css/images/Senati.png" alt="SENATI" class="logo-senati">
        <div class="logo-text">
            <h1>SENATI</h1>
            <p>Formando profesionales</p>
        </div>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/estudiantes">Gestión Académica</a></li> 
            <li><a href="https://senati.blackboard.com/" target="_blank">Blackboard</a></li>
            <li><a href="https://www.senati.edu.pe/contacto" target="_blank">Contacto</a></li>
        </ul>
    </nav>
</header>
<section class="slider-container">
    <div class="slider">
        <div class="slide" style="background-image: url('/static/css/images/slyde3.jpg');"></div>
        <div class="slide" style="background-image: url('/static/css/images/slyde2.jpg');"></div>
        <div class="slide" style="background-image: url('/static/css/images/slyde.jpg');"></div>
    </div>
    
    <div class="hero-overlay">
        <div class="hero-content">
            <span class="badge">Admisión 2026-I</span>
            <h1>Bienvenido al Futuro Tecnológico</h1>
            <p>Accede a la plataforma de gestión y control de estudiantes de SENATI.</p>
            <div class="hero-buttons">
                <a href="/estudiantes" class="btn-main">Ingresar al Sistema</a>
                <a href="https://www.senati.edu.pe" class="btn-outline" target="_blank">Conoce más</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>